In [3]:
import pandas as pd
from pathlib import Path
import sys
sys.path.append("..")
import warnings
warnings.filterwarnings('ignore')

# from ml_editor.data_processing import get_normalized_series

data_path = Path("./writers.csv")
df = pd.read_csv(data_path)

In [4]:
df.head()

,Unnamed: 0,AcceptedAnswerId,AnswerCount,Body,ClosedDate,CommentCount,CommunityOwnedDate,CreationDate,FavoriteCount,Id,...,LastEditorUserId,OwnerDisplayName,OwnerUserId,ParentId,PostTypeId,Score,Tags,Title,ViewCount,body_text
0,0,15.0,9.0,<p>I've always wanted to start writing (in a t...,NaN,7,NaN,2010-11-18T20:40:32.857,17.0,1,...,32946.0,NaN,8.0,NaN,1,32,<resources><first-time-author>,What are some online guides for starting writers?,1274.0,I've always wanted to start writing (in a tota...
1,1,16.0,7.0,<p>What kind of story is better suited for eac...,NaN,0,NaN,2010-11-18T20:42:31.513,5.0,2,...,NaN,NaN,8.0,NaN,1,20,<fiction><grammatical-person><third-person>,What is the difference between writing in the ...,8426.0,What kind of story is better suited for each p...
2,2,31.0,5.0,"<p>I finished my novel, and everyone I've talk...",NaN,1,NaN,2010-11-18T20:43:28.903,10.0,3,...,23159.0,NaN,25.0,NaN,1,34,<publishing><novel><agent>,How do I find an agent?,707.0,"I finished my novel, and everyone I've talked ..."
3,3,NaN,7.0,<p>When writing a short-story to highlight a c...,NaN,0,NaN,2010-11-18T20:43:59.693,4.0,5,...,NaN,NaN,11.0,NaN,1,28,<plot><short-story><planning><brainstorming>,Decide on a theme/overarching meaning before w...,3132.0,When writing a short-story to highlight a cert...
4,4,85.0,10.0,"<p>I keep hearing about literary fiction, and ...",NaN,1,NaN,2010-11-18T20:45:44.067,5.0,7,...,25.0,NaN,25.0,NaN,1,21,<fiction><genre><categories>,What is Literary Fiction?,795.0,"I keep hearing about literary fiction, and how..."

In [6]:
df["is_question"] = df["PostTypeId"] == 1
df.head()

,Unnamed: 0,AcceptedAnswerId,AnswerCount,Body,ClosedDate,CommentCount,CommunityOwnedDate,CreationDate,FavoriteCount,Id,...,OwnerDisplayName,OwnerUserId,ParentId,PostTypeId,Score,Tags,Title,ViewCount,body_text,is_question
0,0,15.0,9.0,<p>I've always wanted to start writing (in a t...,NaN,7,NaN,2010-11-18T20:40:32.857,17.0,1,...,NaN,8.0,NaN,1,32,<resources><first-time-author>,What are some online guides for starting writers?,1274.0,I've always wanted to start writing (in a tota...,True
1,1,16.0,7.0,<p>What kind of story is better suited for eac...,NaN,0,NaN,2010-11-18T20:42:31.513,5.0,2,...,NaN,8.0,NaN,1,20,<fiction><grammatical-person><third-person>,What is the difference between writing in the ...,8426.0,What kind of story is better suited for each p...,True
2,2,31.0,5.0,"<p>I finished my novel, and everyone I've talk...",NaN,1,NaN,2010-11-18T20:43:28.903,10.0,3,...,NaN,25.0,NaN,1,34,<publishing><novel><agent>,How do I find an agent?,707.0,"I finished my novel, and everyone I've talked ...",True
3,3,NaN,7.0,<p>When writing a short-story to highlight a c...,NaN,0,NaN,2010-11-18T20:43:59.693,4.0,5,...,NaN,11.0,NaN,1,28,<plot><short-story><planning><brainstorming>,Decide on a theme/overarching meaning before w...,3132.0,When writing a short-story to highlight a cert...,True
4,4,85.0,10.0,"<p>I keep hearing about literary fiction, and ...",NaN,1,NaN,2010-11-18T20:45:44.067,5.0,7,...,NaN,25.0,NaN,1,21,<fiction><genre><categories>,What is Literary Fiction?,795.0,"I keep hearing about literary fiction, and how...",True

In [15]:
df.shape

(34330,)

In [16]:
df.PostTypeId.value_counts()

2    25679
1     7971
4      337
5      337
7        4
3        2
Name: PostTypeId, dtype: int64

In [7]:
tabular_df = df[df["is_question"]][["Tags", "CommentCount", "CreationDate", "Score"]]
tabular_df.head()

,Tags,CommentCount,CreationDate,Score
0,<resources><first-time-author>,7,2010-11-18T20:40:32.857,32
1,<fiction><grammatical-person><third-person>,0,2010-11-18T20:42:31.513,20
2,<publishing><novel><agent>,1,2010-11-18T20:43:28.903,34
3,<plot><short-story><planning><brainstorming>,0,2010-11-18T20:43:59.693,28
4,<fiction><genre><categories>,1,2010-11-18T20:45:44.067,21

In [8]:
def get_normalized_series(df, col):
    """
    DataFrame 열을 정규화합니다.
    :param df: DataFrame
    :param col: 열 이름
    :return: Z-점수를 사용해 정규화된 시리즈 객체
    """
    return (df[col] - df[col].mean()) / df[col].std()

In [9]:
tabular_df["NormComment"]= get_normalized_series(tabular_df, "CommentCount")
tabular_df["NormScore"]= get_normalized_series(tabular_df, "Score")

In [11]:
print(tabular_df.shape)
tabular_df.head()

(7971, 6)

,Tags,CommentCount,CreationDate,Score,NormComment,NormScore
0,<resources><first-time-author>,7,2010-11-18T20:40:32.857,32,1.405553,3.66092
1,<fiction><grammatical-person><third-person>,0,2010-11-18T20:42:31.513,20,-0.878113,2.02388
2,<publishing><novel><agent>,1,2010-11-18T20:43:28.903,34,-0.551875,3.93376
3,<plot><short-story><planning><brainstorming>,0,2010-11-18T20:43:59.693,28,-0.878113,3.11524
4,<fiction><genre><categories>,1,2010-11-18T20:45:44.067,21,-0.551875,2.16030

In [17]:
# 날짜를 판다스 datetime으로 변환합니다.
tabular_df["date"] = pd.to_datetime(tabular_df["CreationDate"])

# datetime 객체에서 의미있는 특성을 추출합니다.
tabular_df["year"] = tabular_df["date"].dt.year
tabular_df["month"] = tabular_df["date"].dt.month
tabular_df["day"] = tabular_df["date"].dt.day
tabular_df["hour"] = tabular_df["date"].dt.hour

In [18]:
tabular_df.head()

,Tags,CommentCount,CreationDate,Score,NormComment,NormScore,date,year,month,day,hour
0,<resources><first-time-author>,7,2010-11-18T20:40:32.857,32,1.405553,3.66092,2010-11-18 20:40:32.857,2010,11,18,20
1,<fiction><grammatical-person><third-person>,0,2010-11-18T20:42:31.513,20,-0.878113,2.02388,2010-11-18 20:42:31.513,2010,11,18,20
2,<publishing><novel><agent>,1,2010-11-18T20:43:28.903,34,-0.551875,3.93376,2010-11-18 20:43:28.903,2010,11,18,20
3,<plot><short-story><planning><brainstorming>,0,2010-11-18T20:43:59.693,28,-0.878113,3.11524,2010-11-18 20:43:59.693,2010,11,18,20
4,<fiction><genre><categories>,1,2010-11-18T20:45:44.067,21,-0.551875,2.16030,2010-11-18 20:45:44.067,2010,11,18,20

In [19]:
# 문자열로 표현된 태그를 태그 배열로 변환합니다.
tags = tabular_df["Tags"]
clean_tags = tags.str.split("><").apply(
    lambda x: [a.strip("<").strip(">") for a in x])

In [20]:
clean_tags[:5]

0                  [resources, first-time-author]
1     [fiction, grammatical-person, third-person]
2                      [publishing, novel, agent]
3    [plot, short-story, planning, brainstorming]
4                    [fiction, genre, categories]
Name: Tags, dtype: object

In [21]:
# 판다사의 get_dummies 함수를 사용해 더비 변수를 만듭니다.
# 500번 이상 나타난 태그만 선택합니다.
tag_columns = pd.get_dummies(clean_tags.apply(pd.Series).stack()).sum(level=0)
all_tags = tag_columns.astype(bool).sum(axis=0).sort_values(ascending=False)
top_tags = all_tags[all_tags > 500]
top_tag_columns = tag_columns[top_tags.index]

In [22]:
top_tag_columns.head()

   creative-writing  fiction  style  characters  technique  novel  publishing
0                 0        0      0           0          0      0           0
1                 0        1      0           0          0      0           0
2                 0        0      0           0          0      1           1
3                 0        0      0           0          0      0           0
4                 0        1      0           0          0      0           0

In [23]:
# 태그를 원래 DateFrame에 추가합니다.
final = pd.concat([tabular_df, top_tag_columns], axis=1)

# 벡터화된 특성만 남깁니다.
col_to_keep = ["year", "month", "day", "hour", "NormComment",
               "NormScore"] + list(top_tags.index)
final_features = final[col_to_keep]

In [24]:
final_features.head()

,year,month,day,hour,NormComment,NormScore,creative-writing,fiction,style,characters,technique,novel,publishing
0,2010,11,18,20,1.405553,3.66092,0,0,0,0,0,0,0
1,2010,11,18,20,-0.878113,2.02388,0,1,0,0,0,0,0
2,2010,11,18,20,-0.551875,3.93376,0,0,0,0,0,1,1
3,2010,11,18,20,-0.878113,3.11524,0,0,0,0,0,0,0
4,2010,11,18,20,-0.551875,2.16030,0,1,0,0,0,0,0